name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # https://github.com/marketplace/actions/build-and-push-docker-images
    - name: Build the Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        tags: macbre/curl-http3
        cache-from: |
          ghcr.io/macbre/curl-http3:latest

    - name: Inspect images
      run: |
        docker images | head -n3

    - name: curl --version
      run: |
        docker run -t macbre/curl-http3 curl --version

    - name: Is brotli supported?
      run: |
        docker run --rm macbre/curl-http3 curl -sIL https://httpbin.org/brotli | grep -i 'content-encoding: br'

    - name: Is gzip supported?
      run: |
        docker run --rm macbre/curl-http3 curl -sIL https://httpbin.org/gzip | grep -i 'content-encoding: gzip'

    - name: Is http/2 supported?
      run: |
        docker run --rm macbre/curl-http3 curl -sIL https://httpbin.org/get | grep -i 'HTTP/2'

    - name: Is http/3 supported?
      run: |
        docker run --rm macbre/curl-http3 curl -sIL https://blog.cloudflare.com --http3 -H 'user-agent: mozilla' | grep 'HTTP/3'
