name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest

    services:
      # https://httpbin.org/ is timing out / serving 503 responses, use locally hosted instance
      # https://github.com/postmanlabs/httpbin
      httpbin:
        image: kennethreitz/httpbin
        ports:
          - "5555:80"

    steps:
    - uses: actions/checkout@v3

    # https://github.com/marketplace/actions/build-and-push-docker-images
    - name: Build the Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        tags: macbre/curl-http3
        cache-from: |
          ghcr.io/macbre/curl-http3:latest

    - name: Inspect images
      run: |
        docker images | head -n3
        docker ps

    - name: curl --version
      run: |
        docker run -t macbre/curl-http3 curl --version

    - name: Is brotli supported?
      run: |
        docker run --network=host --rm macbre/curl-http3 curl -svo /dev/null http://127.0.0.1:5555/brotli 2>&1 | grep -i 'content-encoding: br'

    - name: Is gzip supported?
      run: |
        docker run --network=host --rm macbre/curl-http3 curl -svo /dev/null http://127.0.0.1:5555/gzip 2>&1 | grep -i 'content-encoding: gzip'

    - name: Is http/2 supported?
      run: |
        docker run --network=host --rm macbre/curl-http3 curl -svo /dev/null http://127.0.0.1:5555/get 2>&1 | grep -i 'HTTP/2'

    - name: Is http/3 supported?
      run: |
        docker run --rm macbre/curl-http3 curl -sIL https://blog.cloudflare.com --http3 -H 'user-agent: mozilla' 2>&1 | grep 'HTTP/3'
